@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import 'tailwindcss';

@source "../views/pages/**/*.blade.php";
@source "../views/layouts/**/*.blade.php";
@source "../views/components/**/*.blade.php";

@source "../js/**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

/*@theme {*/
/*    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',*/
/*        'Segoe UI Symbol', 'Noto Color Emoji';*/
/*}*/

@theme {
    --animate-fade-in-up: fade-in-up 0.3s ease-out forwards;

    @keyframes fade-in-up {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@theme inline {
    --font-serif: 'Newsreader', ui-serif, 'SF Pro Text', serif;
    --font-mono: 'Geist Mono', ui-monospace, 'SF Mono', monospace;
    --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #0D5F5F;
    --color-secondary: #CCE0E0;
    --color-tertiary: #66D1D1;
    --color-danger: #F43F5E;
    --color-danger-muted: #FFF1F2;
    --color-edge: #6F797A80;
    --color-success: #22C55E;
    --color-muted: #949494;
    --color-pending: #FBBF24;
}


/** {*/
/*    outline: 1px solid red;*/
/*}*/

#appointment-sidebar {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#appointment-sidebar.hidden {
    display: none;
    opacity: 0;
    transform: translateX(20px);
}

#appointment-sidebar:not(.hidden) {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    --color-background: #F8F9FA;
    --color-border: rgba(111, 121, 122, 0.5);
}

@layer base {
    body {
        @apply bg-background;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-border) transparent;
    }

    *::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--color-border);
        border-radius: 3px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-primary);
    }

    *::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }
}

/* height of the entire screen excluding navbar height */
@utility h-content {
    @apply h-[calc(100dvh-77px)] md:h-[calc(100dvh-88px)];
}
